<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpoint</key>
	<string>http://192.168.1.8:8080/</string>
	<key>facebookAppId</key>
	<string>203182736857316</string>
</dict>
</plist>
